//BOOM COLOR PALETTE
$boom-yellow : #FFCE00;
$boom-blue : #193A51;
$boom-darkgray : #1E1E1E;
$boom-lightgray : #E5E5E5;
$boom-darkyellow: rgb(120, 104, 0);

//Boostrap variables
$primary: $boom-yellow;
$pagination-bg: $boom-darkgray;
$pagination-hover-color: $boom-darkgray;
$pagination-hover-bg: $boom-yellow;
$pagination-focus-bg:  $boom-yellow;
$pagination-focus-color: $boom-lightgray;
$pagination-disabled-bg:$boom-darkgray;
$pagination-active-color: $boom-darkgray;
$carousel-control-color: $boom-darkgray;
$carousel-indicator-active-bg: $boom-yellow;
