// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

@import 'bootstrap-icons/font/bootstrap-icons.css';

@font-face {
    font-family: Montserrat-Black;
    src: url('../../public/fonts/Montserrat/static/Montserrat-Black.ttf');
}

@font-face {
    font-family: Montserrat-BlackItalic;
    src: url('../../public/fonts/Montserrat/static/Montserrat-BlackItalic.ttf');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('../../public/fonts/Montserrat/static/Montserrat-Bold.ttf');
}

@font-face {
    font-family: Montserrat-BoldItalic;
    src: url('../../public/fonts/Montserrat/static/Montserrat-BoldItalic.ttf');
}

@font-face {
    font-family: Montserrat-ExtraBold;
    src: url('../../public/fonts/Montserrat/static/Montserrat-ExtraBold.ttf');
}

@font-face {
    font-family: Montserrat-ExtraBoldItalic;
    src: url('../../public/fonts/Montserrat/static/Montserrat-ExtraBoldItalic.ttf');
}

@font-face {
    font-family: Montserrat-ExtraLight;
    src: url('../../public/fonts/Montserrat/static/Montserrat-ExtraLight.ttf');
}

@font-face {
    font-family: Montserrat-ExtraLightItalic;
    src: url('../../public/fonts/Montserrat/static/Montserrat-ExtraLightItalic.ttf');
}

@font-face {
    font-family: Montserrat-Italic;
    src: url('../../public/fonts/Montserrat/static/Montserrat-Italic.ttf');
}

@font-face {
    font-family: Montserrat-Light;
    src: url('../../public/fonts/Montserrat/static/Montserrat-Light.ttf');
}

@font-face {
    font-family: Montserrat-LightItalic;
    src: url('../../public/fonts/Montserrat/static/Montserrat-LightItalic.ttf');
}

@font-face {
    font-family: Montserrat-Medium;
    src: url('../../public/fonts/Montserrat/static/Montserrat-Medium.ttf');
}

@font-face {
    font-family: Montserrat-MediumItalic;
    src: url('../../public/fonts/Montserrat/static/Montserrat-MediumItalic.ttf');
}

@font-face {
    font-family: Montserrat-Regular;
    src: url('../../public/fonts/Montserrat/static/Montserrat-Regular.ttf');
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url('../../public/fonts/Montserrat/static/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: Montserrat-SemiBoldItalic;
    src: url('../../public/fonts/Montserrat/static/Montserrat-SemiBoldItalic.ttf');
}

@font-face {
    font-family: Montserrat-Thin;
    src: url('../../public/fonts/Montserrat/static/Montserrat-Thin.ttf');
}

@font-face {
    font-family: Montserrat-ThinItalic;
    src: url('../../public/fonts/Montserrat/static/Montserrat-ThinItalic.ttf');
}

/*Layout*/





@media (max-width: 575.98px) {
    .game-title {
        font-size: 12pt;
    }
}


body {
    background-image: url('../../public/images/background/Fondos\ BOOM_1.jpg');
    //background-attachment: fixed;
    //background-repeat: no-repeat;
    //background-size: cover;
    font-family: Montserrat-Regular;
    color: $boom-lightgray;

}

.boom-color-yellow {
    color: $boom-yellow;
}

.boom-color-blue {
    color: $boom-blue;
}

.boom-color-darkgray {
    color: $boom-darkgray;
}

.boom-color-lightgray {
    color: $boom-lightgray;
}

.container {
    transition: all 300ms;
}

a {
    text-decoration: none;
}


.mynavbar {
    background-color: $boom-darkgray;
}

.nav-item {
    color: #FBFFFB;
}


nav .mynavar-toggler .bi {
    font-size: 125% !important;
    color: $boom-yellow;
    border: none !important;
}


.mymenu-options {
    text-decoration: none !important;
    color: $boom-lightgray;
}

.notification-bell {
    font-size: 18px;
    width: 100px;
}

.my-dropdown-toggle::after {
    content: none;
}

.mymenu-options:hover {

    color: $boom-yellow !important
}

.sidebar {
    background-color: rgba($color: $boom-darkgray, $alpha: .9);
}

.user-dropdown {
    background-color: $boom-darkgray !important;
}

.user-dropdown-item:hover {
    background-color: $boom-yellow !important;
    color: $boom-darkgray !important;
}



@media (max-width:700px) {
    /*  .nav-content {}*/

    .mymenu-options {
        visibility: hidden;
        display: none;
    }
}




.imgSize {
    width: 100%;
}

.myCarousel .shadow {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    box-shadow: none !important;
}

span.mycarousel-control-prev-icon,
span.mycarousel-control-next-icon {
    visibility: hidden;
}

#btn-notification {
    cursor: pointer;
}



.mycarousel-indicators button {

    border-radius: 50%;
    width: 8px !important;
    height: 8px !important;
}


/** CArousel**/

/*CARDS*/
.game {
    background-color: black;
    color: white;
    min-height: 200px;
    border-radius: 10px;
    border: 2px solid $boom-yellow;
    padding: 5px;
    transition: all 300ms;
    color: white;
}

.game:hover .mycard-img-top,
.game:focus .mycard-img-top {
    transition: 0.5s all ease-in-out;
    transform: scale(1.05);
}

.game:hover {
    background-color: $boom-yellow;
    color: $boom-blue;
    border: 2px solid $boom-yellow;
    box-shadow: 0px 0px 43px -13px rgba($color: $boom-lightgray, $alpha: 0.97);
    -webkit-box-shadow: 0px 0px 43px -13px rgba($color: $boom-lightgray, $alpha: 0.97);
    -moz-box-shadow: 0px 0px 43px -13px rgba($color: $boom-lightgray, $alpha: 0.97);
}

.game-name {
    min-height: 75px;
    font-family: Montserrat-SemiBold;
}

.myimg-container {
    overflow: hidden;

    border-radius: 10px;

    width: 100%;

}

.mycard-img-top {

    transition: all 300ms;
}



.card .mycard-img-top:hover,
.card .mycard-img-top:focus {
    transition: 0.5s all ease-in-out;
    transform: scale(1.05);
}

/*CARDS*/

/*DESCRIPTION*/
.icon-backgraund {
    border-radius: 50%;
    width: 70px !important;
    height: 70px !important;
    background-color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;


}

/*DESCRIPTION*/



.advantage {
    background-attachment: inherit;
    background-position: 100%;
    margin-top: 100px;
}

.title {
    font-size: 42pt;
    font-weight: bold;
    font-family: Montserrat-Bold;
}



@media (max-width:375px) {


    .title {
        font-size: 38px;
    }
}
























main {
    min-height: 720px;
}


.login {
    //background-image: url('../../public/images/background/13.png');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.centered-display {
    display: flex;
    align-items: center;
    justify-content: center;

}

.register {
    //background-image: url('../../public/images/background/13.png');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boom-table {
    background-color: rgba($color: $boom-darkgray, $alpha: .9);
    border: $boom-lightgray;
    color: $boom-lightgray;

}

.boom-table-header {
    background-color: $boom-yellow;
    color: $boom-darkgray;
}

.recharge-history-card {
    background-color: rgb(59, 59, 59);
}

.nav-icon {
    font-size: 25px;
}

.boom-notice {
    background-color: $boom-darkgray;
    color: $boom-lightgray;
}

/*Pago*/
.game-card {
    background-color: rgba($color: #000000, $alpha: .9);
}

a .recharge-data:hover {
    transition: 300ms;
    box-shadow: 0px 0px 43px -13px rgba(229, 229, 229, 0.97);
    -webkit-box-shadow: 0px 0px 43px -13px rgba(229, 229, 229, 0.97);
    -moz-box-shadow: 0px 0px 43px -13px rgba(229, 229, 229, 0.97);
}

.game-card-image {
    width: 100%;
    border-radius: 10px;
}

.game-description {
    background-color: rgba($color: black, $alpha: .7);
}

.recharge-data {
    background-color: rgba($color: black, $alpha: .7);
    margin-bottom: 10px;

}

.recharge-data-header {
    background-color: $boom-yellow;
    border: 2px solid $boom-yellow;
    //border-radius: 10px;
    color: $boom-darkgray;
    position: relative;
    font-family: Montserrat-Bold;
}

.card {
    border-radius: 10px !important;
}

.card-body {
    color: $boom-lightgray;
}

.card-header {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.icon-bg {
    background-color: #000;
    border-radius: 999px;
    width: 35px;
    height: 35px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-items: center;
}

.unread-notification {
    border: 1px solid $boom-yellow;
    color: $boom-lightgray;
    border-radius: 10px;
}


.notification {
    color: $boom-lightgray;
    border-radius: 10px;
    border: 1px solid $boom-darkgray;
}

.text-justify {
    text-align: justify;
}

.help-title {
    color: $boom-yellow;
}

.help-card {
    background-color: black;
    height: 200px;
    color: $boom-lightgray;
    width: 600px;
    border-radius: 10px;
    box-shadow: 3px 3px 0px 0px $boom-yellow;
    transition: 300ms;
}

.help-card:hover {
    transition: 0.5s all ease-in-out;
    transform: scale(1.05);
}

.gift-card {
    transition: 300ms;
}

.gift-card:hover {
    transition: 0.5s all ease-in-out;
    transform: scale(1.05);
}

.help-text {
    color: #FBFFFB;
}

.help-item {

    color: #FBFFFB;

}

hr {
    color: $boom-yellow;
    border: 1px solid $boom-yellow;
}

.footer {
    background-color: $boom-darkgray;
}

.footer-title {
    color: $boom-lightgray;
}

.btn-color {
    color: $boom-darkgray;
}

.btn-blue {
    background-color: $boom-blue;
    color: white;
}

.btn-blue:hover {
    background-color: $boom-blue;
    color: white;
}


.input + .label {
    cursor: pointer;
    width: 100%;
    min-width: 118.5px;
    min-height: 70px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"] {
    background-color: transparent !important;
    border: none;
    border-bottom: 1px solid $boom-yellow;
    border-radius: 0px;
    color: $boom-lightgray !important;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus {
    border-radius: 5px;
}

select {
    background-color: transparent !important;
    border: none !important;
    border-radius: 0px !important;
    border-bottom: 1px solid $boom-yellow !important;
    color: $boom-lightgray !important;
}

select:focus {
    border-radius: 5px !important;
}

option {
    background-color: black !important;
}

option:hover {
    color: $boom-yellow !important;
}

/*.fs-2 {
    @include media-breakpoint-down(sm) {
        font-size: rfs-fluid-value(1rem) !important;
    }
}

.icon-bg {
    @include media-breakpoint-down(sm) {
        width: 25px;
        height: 25px;
    }
}

.fs-4 {
    @include media-breakpoint-down(sm) {
        font-size: rfs-fluid-value(.8rem) !important;
    }
}*/

.cuadrado{
    width: 18px;
    height: 18px;
    background-color: $boom-blue;
    border-radius: 10%;
    font-family: sans-serif;
    display: inline-block;
    padding-top: 2px;
}

.payment-data{
    width: 220px;
}
.payment-data-binance{
    width: 300px;
}
.copy{
    height: 20px;
    font-size: 9pt;
    background-color: $boom-blue;
    border: 0px;
    color: $boom-lightgray;
    cursor: pointer;
}

.payment-button {
    background-color: $boom-darkgray;
    color: white;
    transition: 300ms;
    border-radius: 10px;
    border: 2px solid #333333;
    display: flex;
    align-content: center;
    align-items: center;
    border-radius: calc(0.375rem - -1px);
    height: 70px;
    //max-height: 80px;
    cursor: pointer;
}

.payment-button label img {
    max-height: 70px;
    //max-width: 150px;
    cursor: pointer;
}

.payment-button:hover {
    color: #FBE136;
    border: 2px solid $boom-yellow;
    box-shadow: 0px 0px 43px -13px rgba(229, 229, 229, 0.97);
    -webkit-box-shadow: 0px 0px 43px -13px rgba(229, 229, 229, 0.97);
    -moz-box-shadow: 0px 0px 43px -13px rgba(229, 229, 229, 0.97);
}


.button {

    height: 70px;
    background-color: $boom-darkgray;
    color: white;
    display: flex;
    align-content: center;
    align-items: center;

    transition: 300ms;
    border-radius: 10px;
    border: 2px solid #333333;
    font-family: Montserrat-Regular;
}

.button .label{
    text-align: center;
}

.button:hover {
    color: $boom-yellow;
    border: 2px solid $boom-yellow;
    box-shadow: 0px 0px 43px -13px rgba(229, 229, 229, 0.97);
    -webkit-box-shadow: 0px 0px 43px -13px rgba(229, 229, 229, 0.97);
    -moz-box-shadow: 0px 0px 43px -13px rgba(229, 229, 229, 0.97);
}

.check {
    display: none;
}

.selected {
    color: $boom-yellow;
    border: 2px solid $boom-yellow;
    box-shadow: 0px 0px 43px -13px rgba(229, 229, 229, 0.97);
    -webkit-box-shadow: 0px 0px 43px -13px rgba(229, 229, 229, 0.97);
    -moz-box-shadow: 0px 0px 43px -13px rgba(229, 229, 229, 0.97);

    .check {
        display: block;
    }

}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.tooltip-x {
    position: relative;
    display: inline-block;
}

.tooltip-x .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: $boom-darkgray;
    color: $boom-lightgray;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-x .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip-x:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.footer-text-logo {
    font-family: Montserrat-Bold;
}

.min-text{
    font-size: 10pt;
}

.password-reset{
    height: 38px;
}

.edit-avatar{
    background-color: $boom-yellow;
    color: $boom-darkgray;
    visibility: hidden;
    transition: all 300ms;

}

.avatar{
    transition: all 300ms;
    border: 2px solid transparent;
}


.avatar:hover{
    border: 2px solid $boom-yellow;
    border-radius: 5px;
    .edit-avatar{
        visibility: visible;
    }
}

.pre-footer{
    background-color: $boom-blue;
}

.ms-bold{
    font-family: Montserrat-Bold;
}

.payment-methods{
    min-height: 240px;
}

.product-description-image {
    display: none;
  }
  @include media-breakpoint-up(sm) {
    .product-description-image {
      display: inline;
    }
  }
